{
    "extends": ["next/core-web-vitals", "prettier"],
    "rules": {
        "import/order": [
            "error",
            {
                "groups": [
                    "type",
                    "builtin",
                    "external",
                    "internal",
                    "unknown",
                    ["parent", "sibling", "index", "object"]
                ],
                "pathGroups": [
                    { "pattern": "pages/**", "group": "unknown" },
                    {
                        "pattern": "styles/**",
                        "group": "unknown"
                    }
                ],
                "newlines-between": "always",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    }
}
